In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [5]:
df = sns.load_dataset('tips')

In [6]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [8]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [9]:
df['time'].unique()

[Dinner, Lunch]
Categories (2, object): [Dinner, Lunch]

### Jumlah pelanggan pada waktu makan siang

In [28]:
jmlPelangganSiang = len(df[df['time']=='Lunch'])
print(f'Jumlah pelanggan pada waktu siang hari {jmlPelangganSiang} orang')

Jumlah pelanggan pada waktu siang hari 68 orang

### Jumlah pelanggan pada waktu makan malam

In [29]:
jmlPelangganMalam = len(df[df['time']=='Dinner'])
print(f'Jumlah pelanggan pada waktu siang hari {jmlPelangganMalam} orang')

Jumlah pelanggan pada waktu siang hari 176 orang

### Rata-rata jumlah pelanggan satu meja dalam sekali datang

In [68]:
## Rata-rata jumlah pelanggan satu meja sekali datang
rtJumlahPerMeja = round(df['size'].mean(),2)
print(f'Rata-rata jumlah pelanggan satu meja {rtJumlahPerMeja} orang\n')

## Jumlah pelanggan paling banyak permeja sekali datang
rtelangganMax = df['size'].max()
print(f'Jumlah pelanggan paling banyak permeja sekali datang {rtelangganMax} orang\n')

## Jumlah pelanggan paling sedikit permeja sekali datang
rtelangganMin = df['size'].min()
print(f'Jumlah pelanggan paling sedikit permeja sekali datang {rtelangganMin} orang')

Rata-rata jumlah pelanggan satu meja 2.57 orang

Jumlah pelanggan paling banyak permeja sekali datang 6 orang

Jumlah pelanggan paling sedikit permeja sekali datang 1 orang

### Jumlah pelanggan wanita

In [35]:
## Jumlah pelanggan wanita
jmlPelangganW = len(df[df['sex']=='Female'])
print(f'Jumlah pelanggan wanita {jmlPelangganW} orang\n')

## Jumlah pelanggan wanita pada siang hari
jmlPelangganWSiang = len(df[(df['sex'] == 'Female') & (df['time']=='Lunch')])
print(f'Jumlah pelanggan wanita pada waktu siang hari {jmlPelangganWSiang} orang\n')

## Jumlah pelanggan wanita pada malam hari
jmlPelangganWMalam = len(df[(df['sex'] == 'Female') & (df['time']=='Dinner')])
print(f'Jumlah pelanggan wanita pada waktu malam hari {jmlPelangganWMalam} orang')

Jumlah pelanggan wanita 87 orang

Jumlah pelanggan wanita pada waktu siang hari 35 orang

Jumlah pelanggan wanita pada waktu malam hari 52 orang

### Jumlah pelanggan pria

In [39]:
## Jumlah pelanggan pria
jmlPelangganP = len(df[df['sex']=='Male'])
print(f'Jumlah pelanggan pria {jmlPelangganP} orang\n')

## Jumlah pelanggan wanita pada siang hari
jmlPelangganLSiang = len(df[(df['sex'] == 'Male') & (df['time']=='Lunch')])
print(f'Jumlah pelanggan pria pada waktu siang hari {jmlPelangganLSiang} orang\n')

## Jumlah pelanggan wanita pada malam hari
jmlPelangganLMalam = len(df[(df['sex'] == 'Male') & (df['time']=='Dinner')])
print(f'Jumlah pelanggan pria pada waktu malam hari {jmlPelangganLMalam} orang')

Jumlah pelanggan pria 157 orang

Jumlah pelanggan pria pada waktu siang hari 33 orang

Jumlah pelanggan pria pada waktu malam hari 124 orang

### Jumlah pelanggan yang merokok

In [47]:
## Jumlah pelanggan perokok
jmlPerokok = len(df[df['smoker']=='Yes'])
print(f'Jumlah pelanggan perokok {jmlPerokok} orang\n')

## Jumlah pelanggan tidak merokok
jmlTdkPerokok = len(df[df['smoker']=='No'])
print(f'Jumlah pelanggan perokok {jmlTdkPerokok} orang')

Jumlah pelanggan perokok 93 orang

Jumlah pelanggan perokok 151 orang

In [48]:
df['day'].unique()

[Sun, Sat, Thur, Fri]
Categories (4, object): [Sun, Sat, Thur, Fri]

### Jumlah pelanggan berdasarkan hari

In [57]:
## Jumlah pelanggan pada hari minggu
jmlPMinggu = len(df[df['day']=='Sun'])
print(f'Jumlah pelanggan pada hari minggu {jmlPMinggu} orang\n') 

## Jumlah pelanggan pada hari senin
jmlPSenin= len(df[df['day']=='Mon'])
print(f'Jumlah pelanggan pada hari minggu {jmlPSenin} orang\n')

## Jumlah pelanggan pada hari selasa
jmlPSelasa = len(df[df['day']=='Tue'])
print(f'Jumlah pelanggan pada hari minggu {jmlPSelasa} orang\n')

## Jumlah pelanggan pada hari rabu
jmlPRabu = len(df[df['day']=='Wed'])
print(f'Jumlah pelanggan pada hari minggu {jmlPRabu} orang\n')

## Jumlah pelanggan pada hari kamis
jmlPKamis = len(df[df['day']=='Thur'])
print(f'Jumlah pelanggan pada hari minggu {jmlPKamis} orang\n')

## Jumlah pelanggan pada hari jumat
jmlPJumat = len(df[df['day']=='Fri'])
print(f'Jumlah pelanggan pada hari minggu {jmlPJumat} orang\n')

## Jumlah pelanggan pada hari sabtu
jmlPSabtu = len(df[df['day']=='Sat'])
print(f'Jumlah pelanggan pada hari minggu {jmlPSabtu} orang\n')

Jumlah pelanggan pada hari minggu 76 orang

Jumlah pelanggan pada hari minggu 0 orang

Jumlah pelanggan pada hari minggu 0 orang

Jumlah pelanggan pada hari minggu 0 orang

Jumlah pelanggan pada hari minggu 62 orang

Jumlah pelanggan pada hari minggu 19 orang

Jumlah pelanggan pada hari minggu 87 orang

### Jumlah rata-rata tip

In [72]:
## Rata-rata tip
rtTip = round(df['tip'].describe()['mean'],2)
print(f'Rata-rata tip yang diberikan {rtTip} Dollar\n')

## Tip paling mahal
tipMaks = df['tip'].max()
print(f'Tip max yang diberikan {tipMaks} Dollar')

Rata-rata tip yang diberikan 3.0 Dollar

Tip max yang diberikan 10.0 Dollar

### Rata-rata bill yang dibayarkan

In [77]:
## Rata-rata bill yang dibayarkan
rtBill = round(df['total_bill'].agg('mean'),2)
print(f'Bill rata-rata {rtBill} Dollar\n')

## Maks bill yang dibayarkan
billMaks = round(df['total_bill'].agg('max'),2)
print(f'Bill max {billMaks} Dollar\n')

## Min bill yang dibayarkan
billMin = round(df['total_bill'].agg('min'),2)
print(f'Bill min {billMin} Dollar')

Bill rata-rata 19.79 Dollar

Bill max 50.81 Dollar

Bill min 3.07 Dollar